# Flights Departure Delayed

In [12]:
import pandas as pd
import numpy as np
import datetime as dt
import matplotlib.pyplot as plt
# !pip install ggplot
!pip install -U ggplot
!pip install tslib
# import ggplot
# import json, zipfile, io , requests, ggplot

Requirement already up-to-date: ggplot in /anaconda3/lib/python3.7/site-packages (0.11.5)
Requirement already satisfied, skipping upgrade: numpy in /anaconda3/lib/python3.7/site-packages (from ggplot) (1.15.1)
Requirement already satisfied, skipping upgrade: six in /anaconda3/lib/python3.7/site-packages (from ggplot) (1.11.0)
Requirement already satisfied, skipping upgrade: matplotlib in /anaconda3/lib/python3.7/site-packages (from ggplot) (2.2.3)
Requirement already satisfied, skipping upgrade: brewer2mpl in /anaconda3/lib/python3.7/site-packages (from ggplot) (1.4.1)
Requirement already satisfied, skipping upgrade: patsy>=0.4 in /anaconda3/lib/python3.7/site-packages (from ggplot) (0.5.0)
Requirement already satisfied, skipping upgrade: scipy in /anaconda3/lib/python3.7/site-packages (from ggplot) (1.1.0)
Requirement already satisfied, skipping upgrade: statsmodels in /anaconda3/lib/python3.7/site-packages (from ggplot) (0.9.0)
Requirement already satisfied, skipping upgrade: pandas in /anaconda3/lib/python3.7/site-packages (from ggplot) (0.25.3)
Requirement already satisfied, skipping upgrade: cycler in /anaconda3/lib/python3.7/site-packages (from ggplot) (0.10.0)
Requirement already satisfied, skipping upgrade: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /anaconda3/lib/python3.7/site-packages (from matplotlib->ggplot) (2.2.0)
Requirement already satisfied, skipping upgrade: python-dateutil>=2.1 in /anaconda3/lib/python3.7/site-packages (from matplotlib->ggplot) (2.7.3)
Requirement already satisfied, skipping upgrade: pytz in /anaconda3/lib/python3.7/site-packages (from matplotlib->ggplot) (2018.5)
Requirement already satisfied, skipping upgrade: kiwisolver>=1.0.1 in /anaconda3/lib/python3.7/site-packages (from matplotlib->ggplot) (1.0.1)
Requirement already satisfied, skipping upgrade: setuptools in /anaconda3/lib/python3.7/site-packages (from kiwisolver>=1.0.1->matplotlib->ggplot) (40.2.0)
You are using pip version 19.0.3, however version 20.1b1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.
Requirement already satisfied: tslib in /anaconda3/lib/python3.7/site-packages (1.6)
You are using pip version 19.0.3, however version 20.1b1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [2]:
# Getting Dendencies  

import pandas as pd
import csv
import numpy as np
from datetime import datetime
import datetime as dt
from datetime import timedelta  # it is a spanned based time . 
from datetime import datetime, date, time
from datetime import date

In [4]:
data= pd.read_csv('Jan_2020_ontime.csv')
data.head(10)

,DAY_OF_MONTH,DAY_OF_WEEK,OP_UNIQUE_CARRIER,OP_CARRIER_AIRLINE_ID,OP_CARRIER,TAIL_NUM,OP_CARRIER_FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN_AIRPORT_SEQ_ID,ORIGIN,...,DEST,DEP_TIME,DEP_DEL15,DEP_TIME_BLK,ARR_TIME,ARR_DEL15,CANCELLED,DIVERTED,DISTANCE,Unnamed: 21
0,1,3,EV,20366,EV,N48901,4397,13930,1393007,ORD,...,GRB,1003.0,0.0,1000-1059,1117.0,0.0,0.0,0.0,174.0,NaN
1,1,3,EV,20366,EV,N16976,4401,15370,1537002,TUL,...,ORD,1027.0,0.0,1000-1059,1216.0,0.0,0.0,0.0,585.0,NaN
2,1,3,EV,20366,EV,N12167,4404,11618,1161802,EWR,...,TYS,1848.0,0.0,1800-1859,2120.0,0.0,0.0,0.0,631.0,NaN
3,1,3,EV,20366,EV,N14902,4405,10781,1078105,BTR,...,IAH,1846.0,0.0,1800-1859,2004.0,0.0,0.0,0.0,253.0,NaN
4,1,3,EV,20366,EV,N606UX,4407,14524,1452401,RIC,...,IAH,1038.0,0.0,1000-1059,1330.0,0.0,0.0,0.0,1157.0,NaN
5,1,3,EV,20366,EV,N605UX,4408,13871,1387102,OMA,...,IAH,555.0,0.0,0600-0659,838.0,0.0,0.0,0.0,781.0,NaN
6,1,3,EV,20366,EV,N14991,4410,12266,1226603,IAH,...,SHV,1610.0,0.0,1600-1659,1718.0,0.0,0.0,0.0,192.0,NaN
7,1,3,EV,20366,EV,N15986,4411,12266,1226603,IAH,...,HRL,1415.0,0.0,1400-1459,1531.0,0.0,0.0,0.0,295.0,NaN
8,1,3,EV,20366,EV,N603UX,4412,13930,1393007,ORD,...,ABQ,1938.0,0.0,1900-1959,2204.0,0.0,0.0,0.0,1118.0,NaN
9,1,3,EV,20366,EV,N13975,4414,11618,1161802,EWR,...,MSN,1011.0,0.0,1000-1059,1139.0,0.0,0.0,0.0,799.0,NaN